packaging
numpy
wave
jiwer
webrtcvad
transformers==4.24.0
tqdm
pyyaml==5.4.1
torchaudio==0.7.2
torch >= 1.5
datasets >= 1.18.0
librosa
srt
praatio<5
pydub
pandas
python_speech_features
scipy
ffmpeg-normalize
